<html>
<head>
  <!-- bootstrap for easy styling out of the box -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  
  <!-- loading our own stylesheet - notice it's after bootstrap so we can override bootstrap styles -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="container">
  <div class="row">
    <h1>Welcome to Moooovies</h1>
    <h2><em>the</em> movie site for bovines &amp; friends</h2>
    <a href="/favorites">Your Favorites</a>
  </div>
  <div class="row main">  
    <div class="col-sm-6">
      <!-- The search form -->
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="query" placeholder="Search by Title">
        </div>
        <!-- Onclick, the page will call the sarch function. -->
        <!-- We also need to return false so the button doesn't submit the form... -->
        <!-- ...and change the page. -->
        <button type="submit" class="btn btn-default" onclick="search(); return false">Search</button>
      </form>
      <div id='results'>
      </div>
    </div>
    <div class="col-sm-6">
      <!-- these are empty until a user wants to see details -->
      <!-- then we use javascript to add text inside each paragraph -->
      <h4 id='title'></h4>
      <!-- I want the year to be bold so I add the id to year -->
      <!-- If I added year to the paragraph, the strong tag would be removes by JS when... -->
      <!-- ...the user clicks for details -->
      <p><strong  id='year'></strong></p>
      <!-- same here for italics -->
      <p><em id='genre'></em></p>
      <!-- This is a form with two hidden field. We store the OID and Title of the... -->
      <!-- ...movie in these hidden fields so they can be sent to the backend... -->
      <!-- ... when someone clicks "Favorite" -->
      <button id='favorite' class='hidden btn btn-primary btn-sm' onclick="favorite(); return false">Add to Favorites</button>
      <p id='starring'></p>
      <p id='plot'></p>

      <!-- hiding this because we need it to favorite but we don't want to display it -->
      <span id='imdb-id' class='hidden'></span>
    </div>
  </div>

  <!-- All our Javascript goes in this script tag. -->
  <script type="text/javascript">
    var httpRequest;

    function search() {
      var query = document.getElementById("query").value;
      var url = "http://www.omdbapi.com/?r=json&type=movie&s=" + encodeURI(query);
      console.log(url);

      // Make a new http request. Once the request is finished,
      // JS will call the loadResults() function and pass us the response
      httpRequest = new XMLHttpRequest();
      httpRequest.onreadystatechange = loadResults;
      httpRequest.open('GET', url);
      httpRequest.send();
    }

    function loadResults() {
      // This callback will get called multiple times, so we need to check
      // for when the request is complete. Try commenting this if statement out
      // to see the loadResults function get called multiple times.
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        var resultsDiv = document.getElementById('results');
        var json = JSON.parse(httpRequest.responseText);
        var results = json["Search"];

        // check if we were successful and we got movie results
        if (httpRequest.status === 200 && results) {
          // we need to empty the results div before add the new results.
          resultsDiv.innerHTML = "";

          // create a new paragraph for each result...
          results.forEach(function(element) {
            var p = document.createElement("P");
            p.className = 'result';

            p.innerHTML = element['Title'];
            p.dataset.imdbID = element['imdbID'];

            p.onclick = function() { 
              // set onclick for each paragraph
              // if we don't wrap this in a function our JS will be called...
              // ...when we run this code and no on click.
              getDetails(p);
            };

            // ..and append them to the list of results
            resultsDiv.appendChild(p);
          })
        // otherwise check if the request was good but there are no results
        } else if (httpRequest.status === 200) {
          resultsDiv.innerHTML = "<p>No results. Sorry :( For sure try again, though.</p>";
          hideDetails();
        // otherwise the request was bad
        } else {
          resultsDiv.innerHTML = "<p>There was an error processing your request. We've dispatched a team of ninjas to investigate.</p>";
          hideDetails();
        }
      }
    }

    function getDetails(element) {
      // we need to hit a different API endpoint to get the results of one movie.
      var url = "http://www.omdbapi.com/?y=&plot=full&r=json&i=" + element.dataset.imdbID;

      // same thing as search() - make a request and set a callback function.
      httpRequest = new XMLHttpRequest();
      httpRequest.onreadystatechange = showDetails;
      httpRequest.open('GET', url);
      httpRequest.send();
    }

    function showDetails(element) {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        // when we get back the details, we populate our empty
        // tags above with movie details
        var movie = JSON.parse(httpRequest.responseText);
        document.getElementById("title").innerHTML = movie['Title'];
        document.getElementById("year").innerHTML = movie['Year'];
        document.getElementById("genre").innerHTML = movie['Genre'];
        document.getElementById("starring").innerHTML = movie['Actors'];
        document.getElementById("plot").innerHTML = movie['Plot'];
        document.getElementById("imdb-id").innerHTML = movie['imdbID'];
        // also show the favorite button
        document.getElementById("favorite").classList.remove('hidden');
      }
    }

    function hideDetails() {
      // this resets our details are to be empty and hide the favorite button
      document.getElementById("title").innerHTML = "";
      document.getElementById("year").innerHTML = "";
      document.getElementById("genre").innerHTML = "";
      document.getElementById("starring").innerHTML = "";
      document.getElementById("plot").innerHTML = "";
      document.getElementById("imdb-id").innerHTML = "";
      document.getElementById("favorite").classList.add('hidden');
    }

    function favorite() {
      var oid = document.getElementById("imdb-id").innerHTML;
      var title = document.getElementById("title").innerHTML;

      httpRequest = new XMLHttpRequest();
      httpRequest.open('POST', '/favorites');

      // To perform a post, we need to set the headers to be a form
      httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      // then we can add the params when we send the request
      httpRequest.send("name=" + title + "&oid=" + oid);
    }
  </script>
</body>
</html>